aiohttp==3.7.4.post0
apt-select==2.2.1
astroid==2.5.1
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
beautifulsoup4==4.9.1
bs4==0.0.1
colorama==0.4.3
discord.py==1.6.0
dnspython==2.1.0
Flask==1.1.2
gallery-dl==1.17.0
imgdl==1.1.0
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
lxml==4.5.2
mccabe==0.6.1
multidict==5.1.0
powerline-status==2.7
PyAudio==0.2.11
pycodestyle==2.6.0
pylint==2.7.2
PyMark==0.7.1
pymongo==3.11.3
PyQt5==5.15.1
PyQt5-sip==12.8.1
PySocks==1.7.1
python-json-logger==2.0.1
python3-xlib==0.15
requests-futures==1.0.0
soupsieve==2.0.1
stem==1.8.0
toml==0.10.2
torrequest==0.1.0
tqdm==4.59.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
