body {
	background-image: url(https://source.unsplash.com/2560x1400/?nature,water);
}

footer {
	background-color: #5d5d5d !important;
	color: white;
}

.grid-header {
	grid-area: header;
}
.grid-flash {
	grid-area: flash;
}
.grid-main {
	grid-area: main;
	color: black;
}
.grid-info {
	grid-area: info;
}
.grid-footer {
	grid-area: footer;
}

.grid-flash,
.grid-main,
.grid-info,
.grid-footer {
	margin: 0 1rem 1rem 1rem;
	padding: 1rem;
	color: white;
}

@media (min-width: 576px) {
	.base-grid {
		display: grid;
		grid-template-columns: 9fr 3fr;
		grid-template-rows: 0.5fr 0.5fr 5.5fr 0.5fr;
		grid-template-areas:
			"header header"
			"flash flash"
			"main info"
			"footer footer";
		grid-auto-flow: column;
		align-items: self-start;

		min-height: 50%;
		width: 100%;
	}
}

@media (max-width: 576px) {
	.base-grid {
		grid-template-rows: 1fr 1fr 9fr 1fr;
		grid-template-areas:
			"header"
			"flash"
			"main"
			"info"
			"footer";
		gap: 0.1rem;
	}

	.grid-flash {
		margin-top: 1rem !important;
	}
}

.grid-footer {
	display: grid;
	place-items: center;
}

.grid-info .card .card-text {
	color: white;
}

.grid-main .card .card-text {
	color: black;
}

.card {
	border-radius: 5px;
}

/* Admin Cards Page */

.cards_container {
	display: flex;
	flex-wrap: wrap;
}
.question_card {
	max-width: 300px;
	margin: 5px;
	background-color: #f8f8ff;
	color: white;
}
