{% extends "base-admin.html" %}
{% block content %}

<article class="grid-main">

    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="text-success">Available Question Cards</h2>
            <br>
            <section class="container-fluid cards_container">
                {% for card in cards %}
                <div class="card question_card h-100 w-200 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ card.question }}</h5>
                        <p class="card-text"><br>Tip: {{ card.tip }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Card ID: {{ card.id }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Date Added: {{ card.added_date }}</h6>
                    </div>
                    <div class="card-footer">
                        <a href="./admin_card_update/{{ card.id }}" class="btn btn-primary">Update</a>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary toggle_hidden_cards">Show Hidden Cards</button>
    </div>
    <br>
    <div class="card shadow-sm" id="hidden_question_cards_grid">
        <div class="card-body">
            <h2 class="text-danger">Hidden Question Cards</h2>
            <br>
            <section class="container-fluid cards_container">
                {% for card in cards_not_visible %}
                <div class="card question_card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ card.question }}</h5>
                        <p class="card-text"><br>Tip: {{ card.tip }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Card ID: {{ card.id }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Date Added: {{ card.added_date }}</h6>
                    </div>
                    <div class="card-footer">
                        <a href="./admin_card_update/{{ card.id }}" class="btn btn-primary">Update</a>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>



</article>
<aside class="grid-info">

    <div class="card shadow-sm" style="background-color: #aa66cc">
        <div class="card-body">
            <p class="card-text display-3 text-center">{{ cards|length }}</p>
            <h3 class="card-text text-center">Visible Cards</h3>
            <hr />
            <p class="card-text display-4 text-center">{{ cards_not_visible|length }}</p>
            <h4 class="card-text text-center">Hidden Cards</h4>
        </div>
    </div>
    <br>
    <div class="card shadow-sm" style="background-color: #00C851">
        <div class="card-body">
            <h3>Add a new Card</h3>
            <br>
            <form action="./admin_new_card" method="POST" class="needs-validation" novalidate">
                <div class="mb-3">
                    <label for="question" class="form-label">Question</label>
                    <textarea class="form-control" id="question" name="question" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Tip</label>
                    <textarea class="form-control" id="tip" name="tip" rows="3" required></textarea>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault">
                        Visible?
                    </label>
                    <input class="form-check-input" type="checkbox" value="Yes" id="visible" name="visible">
                </div>
                <input type="hidden" id="id" name="id" value="{{ cards|length +1 }}">
                <input type="hidden" id="date" name="date" value="{{ datetime }}">
                <br>
                <button class="btn btn-primary" type="submit">Add New Card</button>
            </form>
        </div>

</aside>

{% endblock %}